function Main.main 1
push constant 7
call Hashtable.new 1
pop local 0
push local 0
push constant 7
call Hashtable.set 2
pop temp 0
push local 0
push constant 17
call Hashtable.set 2
pop temp 0
push local 0
push constant 89
call Hashtable.set 2
pop temp 0
push local 0
push constant 39
call Hashtable.set 2
pop temp 0
push local 0
push constant 8
call Hashtable.set 2
pop temp 0
push local 0
push constant 37
call Hashtable.set 2
pop temp 0
push local 0
push constant 55
call Hashtable.set 2
pop temp 0
push local 0
push constant 49
call Hashtable.set 2
pop temp 0
push local 0
push constant 24
call Hashtable.set 2
pop temp 0
push local 0
push constant 60
call Hashtable.set 2
pop temp 0
push local 0
call Hashtable.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 3
call Hashtable.get 2
pop temp 0
push local 0
call Hashtable.dispose 1
pop temp 0
push constant 0
return
