function Main.main 1
call BST.new 0
pop local 0
push local 0
push constant 16
call BST.insert 2
pop temp 0
push local 0
push constant 10
call BST.insert 2
pop temp 0
push local 0
push constant 21
call BST.insert 2
pop temp 0
push local 0
push constant 2
call BST.insert 2
pop temp 0
push local 0
push constant 9
call BST.insert 2
pop temp 0
push local 0
push constant 14
call BST.insert 2
pop temp 0
push local 0
call BST.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 2
call BST.delete 2
pop temp 0
push local 0
call BST.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 37
call BST.delete 2
pop temp 0
call Output.println 0
pop temp 0
push local 0
call BST.clear 1
pop temp 0
push local 0
call BST.dispose 1
pop temp 0
push constant 0
return
