function fibonacci 1

    push argument 0  
    push constant 3
    lt
    if-goto BAZA
        push argument 0
        push constant 2
        sub     // n - 2
        call fibonacci.fibonacci 1 
        push argument 0
        push constant 1
        sub     // n - 1
        call fibonacci.fibonacci 1 
        add                        
        return

label BAZA        
    push constant 1      
    return