function Main.main 7
push constant 3
call Array.new 1
pop local 0
push constant 3
call Array.new 1
pop local 1
push constant 0
push local 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 3
call Vec.new 2
pop local 2
push local 1
push constant 3
call Vec.new 2
pop local 3
push local 2
call Vec.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 3
call Vec.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
push local 3
call Vec.add 2
pop local 4
push local 2
push local 3
call Vec.sub 2
pop local 5
push local 4
call Vec.print 1
pop temp 0
push local 5
call Vec.print 1
pop temp 0
push local 2
push local 3
call Vec.scalarProduct 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push local 2
push local 3
call Vec.vecProduct 2
pop local 6
push local 6
call Vec.print 1
pop temp 0
push local 2
call Vec.norm 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push local 2
call Vec.dispose 1
pop temp 0
push local 3
call Vec.dispose 1
pop temp 0
push local 4
call Vec.dispose 1
pop temp 0
push local 5
call Vec.dispose 1
pop temp 0
push local 6
call Vec.dispose 1
pop temp 0
push constant 0
return
